<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>
    <div class="panel-body">
      <div class="form-group" [class.has-error]="name.invalid && name.touched">
        <label class="control-label" for="name">Full Name</label
        ><input
          required
          type="text"
          name="name"
          [(ngModel)]="employee.name"
          #name="ngModel"
          class="form-control"
          id="name"
        /><span class="help-block" *ngIf="name.invalid && name.touched"
          >Full Name is Required</span
        >
      </div>

      <div
        class="form-group"
        [class.has-error]="
          contactPreference.invalid && contactPreference.touched
        "
      >
        <label for="contactPreference" class="control-label"
          >Contact Preference</label
        >
        <div class="form-control">
          <label class="radio-inline"
            ><input
              required
              #contactPreference="ngModel"
              id="contactPreference"
              [(ngModel)]="employee.contactPreference"
              name="contactPreference"
              type="radio"
              value="email"
            />Email</label
          >
          <label class="radio-inline"
            ><input
              required
              #contactPreference="ngModel"
              [(ngModel)]="employee.contactPreference"
              name="contactPreference"
              type="radio"
              value="phoneNumber"
            />Phone</label
          >
        </div>
        <span
          class="help-block"
          *ngIf="
            contactPreference.errors?.required && contactPreference.touched
          "
          >Contact Preference is Required</span
        >
      </div>

      <div
        class="form-group"
        [class.has-error]="email.invalid && email.touched"
      >
        <label class="control-label" for="email">Email</label
        ><input
          [required]="contactPreference.value == 'email'"
          pattern="[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
          #email="ngModel"
          name="email"
          [(ngModel)]="employee.email"
          type="text"
          class="form-control"
          id="email"
        /><span
          class="help-block"
          *ngIf="email.errors?.required && email.touched"
          >Email is required</span
        >
        <span class="help-block" *ngIf="email.errors?.pattern && email.touched"
          >Email is Invalid</span
        >
      </div>

      <div
        class="form-group"
        [class.has-error]="phoneNumber.invalid && phoneNumber.touched"
      >
        <label for="phoneNumber" class="control-label">Phone Number</label
        ><input
          [required]="contactPreference.value == 'phoneNumber'"
          type="text"
          #phoneNumber="ngModel"
          [(ngModel)]="employee.phoneNumber"
          name="phoneNumber"
          class="form-control"
          id="phoneNumber"
        /><span
          class="help-block"
          *ngIf="phoneNumber.errors?.required && phoneNumber.touched"
          >Phone Number is Mandatory</span
        >
      </div>

      <div
        class="form-group"
        [class.has-error]="gender.invalid && gender.touched"
      >
        <label for="gender" class="control-label">Gender</label>
        <div class="form-control">
          <label class="radio-inline"
            ><input
              required
              #gender="ngModel"
              id="gender"
              [(ngModel)]="employee.gender"
              name="gender"
              type="radio"
              value="male"
            />Male</label
          >
          <label class="radio-inline"
            ><input
              required
              #gender="ngModel"
              [(ngModel)]="employee.gender"
              name="gender"
              type="radio"
              value="female"
            />Female</label
          >
        </div>
        <span
          class="help-block"
          *ngIf="gender.errors?.required && gender.touched"
          >Gender is Must</span
        >
      </div>
      <div
        class="form-group"
        [class.has-error]="isActive.invalid && isActive.touched"
      >
        <div class="form-control">
          <label class="checkbox-inline"
            ><input
              [required]="employee.isActive === null"
              #isActive="ngModel"
              id="isActive"
              [(ngModel)]="employee.isActive"
              name="isActive"
              type="checkbox"
            />Is Active</label
          >
        </div>
        <span
          class="help-block"
          *ngIf="isActive.errors?.required && isActive.touched"
          >Please Select User Activation Status</span
        >
      </div>

      <div
        class="form-group"
        [class.has-error]="deptVal.invalid && deptVal.touched"
      >
        <label for="department" class="control-label">Department</label
        ><select
          required
          appSelectValidator="select"
          #deptVal="ngModel"
          [(ngModel)]="employee.department"
          name="department"
          id="department"
          class="form-control"
        >
          <option value="select">Select Department</option>
          <option *ngFor="let dept of department" [value]="dept.id">
            {{ dept.name }}
          </option>
        </select>
        <span
          class="help-block"
          *ngIf="deptVal.touched && deptVal.errors?.defaultSelectedValue"
          >Please Select valid Department</span
        >
        <span
          class="help-block"
          *ngIf="deptVal.touched && deptVal.errors?.required"
          >Department Is Required</span
        >
      </div>

      <div class="row">
        <div class="form-group col-md-5">
          <label for="dateOfBirth">Date Of Birth</label
          ><input
            type="text"
            [bsConfig]="bsConfig"
            bsDatepicker
            [(ngModel)]="employee.dateOfBirth"
            name="dateOfBirth"
            placement="right"
            class="form-control"
            id="dateOfBirth"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="photoPath">Photo Path</label
        ><input
          type="text"
          [(ngModel)]="employee.photoPath"
          name="photoPath"
          class="form-control"
          id="photoPath"
        />
      </div>
      <div class="form-group">
        <button
          class="btn btn-primary"
          type="button"
          (click)="togglePhotoPreview()"
        >
          {{ previePhoto ? "Hide " : "Show " }}Preview
        </button>
      </div>
      <div class="form-group">
        <img
          class="img-responsive"
          [src]="employee.photoPath"
          height="200"
          width="200"
          *ngIf="previePhoto"
        />
      </div>

      <div
        class="form-group"
        [class.has-error]="passcode.invalid && passcode.touched"
      >
        <label class="control-label" for="password">Password</label
        ><input
          required
          type="password"
          name="password"
          [(ngModel)]="employee.password"
          #passcode="ngModel"
          class="form-control"
          id="password"
        /><span class="help-block" *ngIf="passcode.invalid && passcode.touched"
          >Password is Required</span
        >
      </div>

      <div
        class="form-group"
        [class.has-error]="confirmPasscode.invalid && confirmPasscode.touched"
      >
        <label class="control-label" for="confirmPassword"
          >Confirm Password</label
        ><input
          required
          confirmPasscodeValidator="password"
          type="password"
          name="confirmPassword"
          [(ngModel)]="employee.confirmPassword"
          #confirmPasscode="ngModel"
          class="form-control"
          id="confirmPassword"
        /><span
          class="help-block"
          *ngIf="confirmPasscode.invalid && confirmPasscode.touched"
          >Confirm Password is Required</span
        >
        <span
          class="help-block"
          *ngIf="
            confirmPasscode.errors?.confirmValidator && confirmPasscode.touched
          "
          >Confirm Password is Required</span
        >
      </div>
    </div>

    <div class="panel-footer">
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="employeeForm.invalid"
      >
        Save
      </button>
    </div>
  </div>
</form>

Form value{{ employeeForm.value | json }} <br /><br />
fieild value{{ employee | json }}
