<div class="panel panel-primary" (click)="handleClick()" [class.panel-success] = "selectedId === employee.id">
  <div class="panel-heading">
    <h3 class="panel-title">{{ employee.name }}</h3>
  </div>

  <div class="panel-body">
    <div class="col-xs-10">
      <div class="row verticalAlign">
        <div class="col-xs-4">
          <img class="img-responsive" [src]="employee.photoPath" />
        </div>
        <div class="col-xs-8">
          <div class="row">
            <div class="col-xs-6">Gender</div>
            <div class="col-xs-6">: {{ employee.gender | titlecase }}</div>
          </div>

          <div class="row">
            <div class="col-xs-6">DOB</div>
            <div class="col-xs-6">: {{ employee.dateOfBirth | date }}</div>
          </div>

          <div class="row">
            <div class="col-xs-6">Contact Preference</div>
            <div class="col-xs-6">: {{ employee.contactPreference }}</div>
          </div>

          <div class="row">
            <div class="col-xs-6">Phone</div>
            <div class="col-xs-6">: {{ employee.phoneNumber }}</div>
          </div>

          <div class="row">
            <div class="col-xs-6">Email</div>
            <div class="col-xs-6">: {{ employee.email }}</div>
          </div>

          <div class="row">
            <div class="col-xs-6">Department</div>
            <div class="col-xs-6" [ngSwitch]="employee.department">
              :
              <span *ngSwitchCase="1">Help Desk</span>
              <span *ngSwitchCase="2">HR</span>
              <span *ngSwitchCase="3">IT</span>
              <span *ngSwitchCase="4">Payroll</span>
              <span *ngSwitchDefault>NA</span>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6">Is Active</div>
            <div class="col-xs-6">
              : {{ employee.isActive ? "Active" : "Inactive" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
