<!-- <h2 *ngIf="employeeDetails">
  {{ employeeDetails?.name + " " + employeeDetails?.id }}
</h2> -->
<div *ngFor="let employee of employees">
  <div (click)="onClick(employee.id)" class="pointer">
    <display-employee-details
      [employee]="employee"
      (notify)="notifyEvent($event)"
    ></display-employee-details>
  </div>
</div>

<!-- <button class="btn btn-primary" (click)="nextEmployee()">next >></button>
<br />
<br />

<display-employee-details
  [employee]="employeeListChange"
></display-employee-details> -->
