<!-- <h2 *ngIf="employeeDetails">
  {{ employeeDetails?.name + " " + employeeDetails?.id }}
</h2> -->
<div class="form-group">
  <input
    type="text"
    [(ngModel)]="serachTearm"
    placeholder="Enter Name to Search"
  />
</div>
<div class="form-group">
  <button (click)="changeEmployeeName()" class="=btn btn-primary">
    Change Employee Name
  </button>
</div>
<div *ngFor="let employee of employees | employeeFilter: serachTearm">
  <div (click)="onClick(employee.id)" class="pointer">
    <display-employee-details
      [employee]="employee"
      (notify)="notifyEvent($event)"
    ></display-employee-details>
  </div>
</div>

<!-- <button class="btn btn-primary" (click)="nextEmployee()">next >></button>
<br />
<br />

<display-employee-details
  [employee]="employeeListChange"
></display-employee-details> -->
